/* CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#BG {
	height:115vh;
	background: #0000FF;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}
